APP_NAME=

DATABASE_URL=sqlite+aiosqlite:///[ABSOLUTE PATH BACKEND FOLDER]\[DATABASE NAME].sqlite3

PRODUCTION=False

FRONTEND_URL=http://localhost:5173

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=
CSRF_SECRET_KEY=